<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:replace="./fragments/header.html :: header">
</head>
<body layout:fragment="content" class="bg-gradient-primary">

<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">공덱 등록 페이지</h1>
                        </div>
                        <form class="user needs-validation" th:action="@{/atk/register}" th:object="${register}" method="post" novalidate>
                            <div class="form-group">
                                <label for="adminId">리더 몬스터</label>
                                <input type="email" class="form-control form-control-user" id="adminId"
                                       placeholder="풍라클" name="email" th:field="*{deckName}" required>
                                <small class="invalid-feedback">리더 몬스터를 입력해주세요</small>
                            </div>

                            <div class="form-group">
                                <label for="detailInfo">방덱 세부 설명</label>
                                <textarea class="form-control form-control-user" id="detailInfo"
                                          placeholder="비밀번호" th:field="*{detailInfo}" required> </textarea>
                                <small class="invalid-feedback">방덱 세부 설명을 입력해주세요</small>
                            </div>


                            <button type="submit" class="btn btn-primary btn-user btn-block">방덱 등록</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>