<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}" lang="">

<div layout:fragment="content">
    <div style="padding: 10px">
        <div class="row">
            <div class="col-lg-10">
                <h4 class="header-title" th:text="${'방덱 명 : ' + defDecks.deckName}"></h4>
                <div class="table-responsive">
                    <table class="table table-bordered table-centered mb-0">
                        <tbody>

                        <tr>
                            <th style="background-color: #f1f3fa !important;">몬스터</th>
                            <td colspan="3">
                                <div style="display: flex; justify-content: space-around">
                                    <div th:each="monster, i : ${defDecks.monsterResponseDtoList}">

                                        <span th:if="${i.index == 0}">
                                            <input type="hidden" id="leaderSkill" th:value="${monster.leaderSkill}">
                                        </span>

                                        <img style="width: 60px; height: 60px" th:src="${monster.photoPath}" alt=""/>
                                        <br>
                                        <span th:text="${monster.name}"></span>
                                        <span th:if="${monster.attribute == 'FIRE'}" class="badge badge-danger">
                                            <span th:text="${monster.attribute}"></span>
                                        </span>
                                        <span th:if="${monster.attribute == 'WATER'}" class="badge badge-primary">
                                            <span th:text="${monster.attribute}"></span>
                                        </span>
                                        <span th:if="${monster.attribute == 'WIND'}" class="badge badge-warning">
                                            <span th:text="${monster.attribute}"></span>
                                        </span>
                                        <span th:if="${monster.attribute == 'LIGHT'}" class="badge badge-light">
                                            <span th:text="${monster.attribute}"></span>
                                        </span>
                                        <span th:if="${monster.attribute == 'DARK'}" class="badge badge-dark">
                                            <span th:text="${monster.attribute}"></span>
                                        </span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>

                            <th style="background-color: #f1f3fa !important;">리더 스킬</th>
                            <td>
                                <span id="inputLeaderSkill"></span>
                            </td>
                            <th style="background-color: #f1f3fa !important;">만든 사람</th>
                            <td>
                                <span th:text="${defDecks.makerName}"></span>
                            </td>
                        </tr>
                        <tr style="height: 300px">
                            <th style="background-color: #f1f3fa !important;">상세 설명</th>
                            <td colspan="3">
                                <textarea style="width: 100%; height: 300px" th:text="${defDecks.deckDescription}" readonly>
                                </textarea>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div> <!-- end table-responsive-->
                <div class="card-body ta-c">
                    <button type="button" class="btn btn-dark" onclick="">공덱 등록</button>
                    <button type="button" class="btn btn-dark" th:if="${memberEmail == defDecks.makerEmail}" th:onclick="'viewModify(' + ${defDecks.id} + ');'">방덱 수정</button>
<!--                                                                                                                        ="'removeContent(' + ${content.id} + ');'">-->
                    <button type="button" class="btn btn-dark" onclick="location.href='/defDecks'">목록으로</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="./fragments/footer.html :: footer"></div>

<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

</html>
<script>
    $(document).ready(function() {
        let leaderSkill = $("#leaderSkill").val()
        $("#inputLeaderSkill").text(leaderSkill);
    });

    function viewModify(id) {
        location.href = "/defDecks/modify/" + id;
    }

</script>





