<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}" lang="">

<div layout:fragment="content">

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">검색조건</h4>
                    <div class="table-responsive">
                        <table class="table table-bordered table-centered mb-0">
                            <tbody>
                            <tr>
                                <th style="background-color: #f1f3fa !important;" colspan="2">덱 이름</th>
                                <td colspan="6">
                                    <input id="defDeckName" name="defDeckName" type="text" class="form-control" placeholder="덱 이름">
                                </td>

                                <th style="background-color: #f1f3fa !important;" colspan="2">만든 사람</th>
                                <td colspan="6">
                                    <input id="maker" name="maker" type="text" class="form-control" placeholder="만든 사람">
                                </td>
                            </tr>
                            <tr>
                                <th style="background-color: #f1f3fa !important;" colspan="2">몬스터</th>
                                <td colspan="6">
                                    <select id="monsters" name="monsters" class="form-control select2" data-toggle="select2">
                                        <optgroup label="몬스터">
                                            <option value="ALL">전체</option>
                                            <div th:each="monster : ${monsters}">
                                                <option th:value="${monster.id}" th:text="${'이름 : ' + monster.name + '- 속성 : ' + monster.attribute}"></option>
                                            </div>
                                        </optgroup>
                                    </select>
                                </td>
                                <th style="background-color: #f1f3fa !important;" colspan="2">공덱</th>
                                <td colspan="6">
                                    <select id="atkDecks" name="atkDecks" class="form-control select2" data-toggle="select2">
                                        <optgroup label="공덱">
                                            <option value="ALL">전체</option>
                                            <div th:each="atkDeck : ${atkDecks}">
                                                <option th:value="${atkDeck.id}" th:text="${atkDeck.deckName}"></option>
                                            </div>
                                        </optgroup>
                                    </select>
                                </td>
                            </tr>

                            </tbody>
                        </table>

                    </div> <!-- end table-responsive-->

                </div> <!-- end card-body-->
                <div class="card-body ta-r">
                    <a type="button" id="printOrderButton" class="btn btn-dark" th:href="@{/defDecks/register}">방덱 등록</a>
                    <button type="button" class="btn btn-dark" onclick="defDecksListInit()">초기화</button>
                    <button type="button" class="btn btn-dark" onclick="searchDefDecks()">검색</button>
                </div>
            </div> <!-- end card-->
        </div> <!-- end col-->
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div>
                        검색 건수 : <span id="searchListSize" style="font-weight: bolder" th:text="${defDecks.size()}">0</span> 건
                    </div>
                    <div class="tab-content">
                        <table class="table dt-responsive nowrap w-100 table-sm">
                            <thead class="table-light">
                            <tr>
                                <th>사진</th>
                                <th>몬스터 명</th>
                                <th>방덱 명</th>
                                <th>만든 사람</th>
                            </tr>
                            </thead>
                            <tbody id="defDeckList">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="./fragments/footer.html :: footer"></div>

<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
</html>
<script>
    $(document).ready(function() {
        // searchDefDecks();
    })

    function searchDefDecks () {
        $("#monsterList").show()
        let param = {
            deckName: $("#defDeckName").val(),
            makerName: $("#maker").val(),
            monsterId: $("#monsters").val() === "ALL" ? null : $("#monsters").val(),
            atkDeckId: $("#atkDecks").val() === "ALL" ? null : $("#atkDecks").val()
        }

        $.ajax({
            type: "POST",
            url: "/v1/defDecks/search",
            dataType: "json",
            async: false,
            data: param,
            success: function (response) {
                console.log(response)

                let defDeckList = response;
                let tag = '';

                if (defDeckList.length > 0) {
                    $.each(defDeckList, function (i) {

                        let monsterList = defDeckList[i].monsterResponseDtoList;

                        tag += '<tr><td>'
                        $.each(monsterList, function (j){
                            tag += '<img style="width: 50px; height: 50px" src="' + monsterList[j].photoPath + '" th:alt="No image"/>'
                        })
                        tag += '</td>'

                        tag += '<td>'
                        $.each(monsterList, function (j){
                            if (j === monsterList.length - 1) {
                                tag +=  monsterList[j].name.replace(/\(.*\)/gi, "")
                                return;
                            }

                            if (j === 0) {
                                tag +=  '<span style = "color: crimson; font-weight: bold;">' + monsterList[j].name.replace(/\(.*\)/gi, "") + ', ' +'</span>'
                                return;
                            }

                            tag +=  monsterList[j].name.replace(/\(.*\)/gi, "") + ', '
                        })
                        tag += '</td>'
                        tag += '<td>' + defDeckList[i].deckName  + '</td>'
                        tag += '<td>' + defDeckList[i].makerName + '</td>';
                        tag += '</tr><br>'
                    });
                }

                if (defDeckList.length === 0) {
                    console.log("길이가 0임")
                    tag += '<div>검색 결과가 없습니다.</div>'
                }

                $("#defDeckList").empty().append(tag)

            }
        });
    }

    function defDecksListInit(){

        $("#defDeckName").val('');
        $("#maker").val('');
        $("#monsters").val("ALL");
        $("#atkDecks").val("ALL");

        $("#defDeckList").hide()

    }

</script>
