<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}" lang="">

<div layout:fragment="content">
  <div style="padding: 10px">
    <div class="row">
      <div class="col-lg-10">
        <h4 class="header-title">방덱 수정</h4>
        <div class="table-responsive">
          <table class="table table-bordered table-centered mb-0">
            <tbody>
            <tr>
              <th style="background-color: #f1f3fa !important;"> 방덱 이름</th>
              <td>
                <input type="text" class="form-control form-control-user"
                       id="name" th:value="${defDecks.deckName}" th:text="${defDecks.deckName}" placeholder="방덱 명" required>
              </td>
              <th style="background-color: #f1f3fa !important;">리더 몬스터</th>
              <td>
                <select id="leaderMonster" name="leaderMonster" class="orderStatusSelect form-control select2" data-toggle="select2">
                  <optgroup label="리더 몬스터">
                    <option th:each="monster : ${monsters}" th:title="${monster.photoPath}" th:value="${monster.id}" th:text="${monster.name}"></option>
                  </optgroup>
                </select>
              </td>

            </tr>
            <tr>
              <th style="background-color: #f1f3fa !important;">두번째 몬스터</th>
              <td>
                <select id="secondMonster" name="secondMonster" class="orderStatusSelect form-control select2" data-toggle="select2">
                  <optgroup label="두번째 몬스터">
                    <option th:each="monster : ${monsters}" th:title="${monster.photoPath}" th:value="${monster.id}" th:text="${monster.name}"></option>
                  </optgroup>
                </select>
              </td>
              <th style="background-color: #f1f3fa !important;">세번째 몬스터</th>
              <td>
                <select id="thirdMonster" name="thirdMonster" class="orderStatusSelect form-control select2" data-toggle="select2">
                  <optgroup label="세번째 몬스터">
                    <option th:each="monster : ${monsters}" th:title="${monster.photoPath}" th:value="${monster.id}" th:text="${monster.name}"></option>
                  </optgroup>
                </select>
              </td>
            </tr>
            <tr style="height: 300px">
              <th style="background-color: #f1f3fa !important;">상세 설명</th>
              <td colspan="3">
                                <textarea id="defDeckDescription" name="defDeckDescription" style="width: 100%; height: 300px">
                                </textarea>
              </td>
            </tr>
            </tbody>
          </table>


        </div> <!-- end table-responsive-->
        <div class="card-body ta-c">
          <button type="button" class="btn btn-dark" onclick="registerDefDeck()">등록</button>
          <button type="button" class="btn btn-dark" onclick="location.href='/defDecks'">목록으로</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div th:replace="./fragments/footer.html :: footer"></div>

<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

</html>






