<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}" lang="">

<div layout:fragment="content">
  <div style="padding: 10px">
    <div class="row">
      <div class="col-lg-10">
        <h4 class="header-title">방덱 수정</h4>
        <div class="table-responsive">
          <table class="table table-bordered table-centered mb-0">
            <tbody>
            <tr>
              <th style="background-color: #f1f3fa !important;"> 방덱 이름</th>
              <td>
                <input type="text" class="form-control form-control-user"
                       id="defDeckName" th:value="${defDecks.deckName}" placeholder="방덱 명" required>
              </td>
              <th style="background-color: #f1f3fa !important;">리더 몬스터</th>
              <td>
                <select id="leaderMonster" name="leaderMonster" class="orderStatusSelect form-control select2" data-toggle="select2">
                  <optgroup label="리더 몬스터">
                    <option th:each="monster : ${monsters}" th:title="${monster.photoPath}" th:value="${monster.id}" th:text="${monster.name}"></option>
                  </optgroup>
                </select>
              </td>

            </tr>
            <tr>
              <th style="background-color: #f1f3fa !important;">두번째 몬스터</th>
              <td>
                <select id="secondMonster" name="secondMonster" class="orderStatusSelect form-control select2" data-toggle="select2">
                  <optgroup label="두번째 몬스터">
                    <option th:each="monster : ${monsters}" th:title="${monster.photoPath}" th:value="${monster.id}" th:text="${monster.name}"></option>
                  </optgroup>
                </select>
              </td>
              <th style="background-color: #f1f3fa !important;">세번째 몬스터</th>
              <td>
                <select id="thirdMonster" name="thirdMonster" class="orderStatusSelect form-control select2" data-toggle="select2">
                  <optgroup label="세번째 몬스터">
                    <option th:each="monster : ${monsters}" th:title="${monster.photoPath}" th:value="${monster.id}" th:text="${monster.name}"></option>
                  </optgroup>
                </select>
              </td>
            </tr>
            <tr style="height: 300px">
              <th style="background-color: #f1f3fa !important;">상세 설명</th>
              <td colspan="3">
                  <textarea id="defDeckDescription" name="defDeckDescription" style="width: 100%; height: 300px" th:text="${defDecks.deckDescription}">
                  </textarea>
              </td>
            </tr>
            </tbody>
          </table>

        <input type="hidden" id="monsterList" th:value="${defDecks.monsterResponseDtoList}">
        <span th:each="monster, i : ${defDecks.monsterResponseDtoList}">
          <span style="display: none;" th:if="${i.index == 0}" id="leaderMonsterId" th:text="${monster.id}"></span>
          <span style="display: none;" th:if="${i.index == 1}" id="secondMonsterId" th:text="${monster.id}"></span>
          <span style="display: none;" th:if="${i.index == 2}" id="thirdMonsterId" th:text="${monster.id}"></span>
        </span>


        </div> <!-- end table-responsive-->
        <div class="card-body ta-c">
          <button type="button" class="btn btn-dark" th:onclick="'modifyDefDecks(' + ${defDecks.id} + ');'">등록</button>
          <button type="button" class="btn btn-dark" onclick="location.href='/defDecks'">목록으로</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div th:replace="./fragments/footer.html :: footer"></div>

<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

</html>

<script>
  $(document).ready(function(){
    var leaderMonsterId = $("#leaderMonsterId").text();
    $("#leaderMonster").val(leaderMonsterId);
    var secondMonsterId = $("#secondMonsterId").text();
    $("#secondMonster").val(secondMonsterId);
    var thirdMonsterId = $("#thirdMonsterId").text();
    $("#thirdMonster").val(thirdMonsterId);
  });
  function modifyDefDecks (id) {
    var param = {
      deckName: $("#defDeckName").val(),
      deckDescription: $("#defDeckDescription").val(),
      leaderMonsterId: $("#leaderMonster").val(),
      secondMonsterId: $("#secondMonster").val(),
      thirdMonsterId: $("#thirdMonster").val()
    }
    $.ajax({
      type: "PATCH",
      url: '/v1/defDecks/' + id,
      data: param,
      dataType: "text",
      success: function (response) {
        if (response === 'ok') {
          alert("방덱 등록에 성공하였습니다.");
          window.location.reload();
        } else {
          alert("방덱 등록에 실패했습니다.");
          window.location.reload();
        }
      }
    });
  }
</script>