<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/commonPopupLayout}">

<th:block layout:fragment="commonPopupContent">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-left">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">WEBLING</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">주문관리</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">주문조회</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">주문 상세 정보</a></li>
                        <li class="breadcrumb-item active">오류등록</li>
                    </ol>
                </div>
                <h4 class="page-title" id="pageTitle" ></h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10">
            <h4 class="header-title">주문정보</h4>
            <div class="table-responsive">
                <table class="table table-bordered table-centered mb-0">
                    <tbody>
                    <tr>
                        <th class="col-lg-2" style="background-color: #f1f3fa !important;">주문번호</th>
                        <td class="col-lg-3">
                            <span id="vOrgOrderCode" th:text="${orderClaimInfo.orgOrderCode}"></span>
                        </td>
                        <th class="col-lg-2" style="background-color: #f1f3fa !important;">프로젝트번호</th>
                        <td class="col-lg-3">
                            <span id="vOrgProj" th:text="${orderClaimInfo.orgProjectCode}"></span>
                        </td>
                    </tr>
                    <tr>
                        <th style="background-color: #f1f3fa !important;">상품명</th>
                        <td>
                            <span id="vProdName" th:text="${orderClaimInfo.productName}" ></span>
                        </td>
                        <th  style="background-color: #f1f3fa !important;">서비스</th>
                        <td>
                            <span id="brandCode" th:each="brandCode:${brandCodes}" th:if="${brandCode.value} == ${orderClaimInfo.brandCode}" th:text="${brandCode.brandName}" th:attr="data-brand-code=|${orderClaimInfo.brandCode}|"></span>
                        </td>
                    </tr>
                    <tr>
                        <th style="background-color: #f1f3fa !important;">수정단계</th>
                        <td>
                            <select id="requestStatus" name="requestStatus" class="orderStatusSelect form-control select2" data-toggle="select2">
                                <optgroup label="수정단계">
                                    <option th:each="requestStatus : ${requestStatuses}" th:value="${requestStatus.value}"  th:text="${requestStatus.code}"></option>
                                </optgroup>
                            </select>
                        </td>
                        <th style="background-color: #f1f3fa !important;">오류타입</th>
                        <td>
                            <select id="claimType" name="claimType" class="orderStatusSelect form-control select2" data-toggle="select2">
                                <optgroup label="오류타입">
                                    <option th:each="claimType : ${claimTypes}" th:value="${claimType.value}"  th:text="${claimType.code}"></option>
                                </optgroup>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th style="background-color: #f1f3fa !important;">E-MAIL<br> 전송</th>
                        <td colspan="3">
                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <thead class="table-light">
                                    <tr>
                                        <th>선택</th>
                                        <th>그룹</th>
                                        <th>그룹설명</th>
                                    </tr>
                                    </thead>
                                    <tbody id="orderClaimGroup">
                                    <th:block th:each="orderClaimGroup:${orderClaimGroupList}">
                                        <tr>
                                            <td>
                                                <input type="checkbox" class="form-check-input" id="checkItemBox" name="checkItemBox" th:attr="data-group-code=|${orderClaimGroup.groupCode}|">

                                            </td>
                                            <td th:text="${orderClaimGroup.groupCodeName}"></td>
                                            <td th:text="${orderClaimGroup.groupCodeDesc}"></td>
                                        </tr>
                                    </th:block>
                                    </tbody>
                                </table>
                            </div> <!-- end table-responsive-->
                        </td>
                    </tr>
                    <tr>
                        <th style="background-color: #f1f3fa !important;">메세지</th>
                        <td colspan="3">
                            <div class="mb-3">
                                <textarea class="form-control" id="message" rows="5"></textarea>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th style="background-color: #f1f3fa !important;">첨부파일</th>
                        <td colspan="3">
                            <div class="mb-3">
                                <form id="fileForm" method="post" enctype="multipart/form-data">
                                    <input type="file" id="file"  class="form-control">
                                </form>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div> <!-- end table-responsive-->
            <div class="card-body ta-c">
                <button type="button" class="btn btn-primary" onclick="orderClaimSave()">등록</button>
                <button type="button" class="btn btn-primary" onclick="window.close()">닫기</button>
            </div><!-

        </div>

    </div>
    <script th:inline="javascript">

        $(document ).ready(function() {
            // getOrderDetailInfo(); //정보조회
        });
        var orderCode = /*[[${orderCode}]]*/;
        var orderDetailSeq = /*[[${orderDetailSeq}]]*/;

        var table = "";

        function search(){
            $.fn.dataTable.ext.errMode = 'none';
            table =  $('#orderClaimGroupList').DataTable({
                processing: true,
                serverSide: true,
                ajax: {
                    url: "/order/orderClaimGroupList",
                    data: function (d) {
                        var otherOption = $("#otherOptions").val();
                        var data = {
                            "otherOptions.orderCode": orderCode,
                            "direction": d.order[0].dir.toUpperCase()
                        };

                        return data;
                    },
                    async: true,
                    type: "POST",
                    dataFilter: function (data) {
                        data = JSON.parse(data);
                        var json = {
                            recordsTotal: data.responseObject.size,
                            data: data.responseObject
                        };
                        $("#searchListSize").text(data.responseObject.length)
                        return JSON.stringify(json);
                    }
                },
                dataSrc: "",
                columns: [
                    { data: null },
                    { data: 'brandCode'},
                    { data: 'groupCodeName'},
                    { data: 'groupEmail' },
                    { data: 'regDate', render : function (data,type, row, meta){return commonUtil.dateFormat(data)} },
                    { data: 'id'}
                ],
                'paging' : false,
                'destroy': true,
                'searching': false,
                "bInfo" : false,
                'columnDefs': [{
                    'targets': 0,
                    'searchable':false,
                    'orderable':false,
                    'className': 'dt-body-center',
                    'render': function (data, type, full, meta){
                        return '<input type="checkbox" name="id[]" value="'
                            + meta.row + meta.settings._iDisplayStart + 1 + '">';
                    }

                },
                    {
                        'targets': 5,
                        'visible': false,
                        'searchable': false
                    }],
                "language": {
                    processing: '<div class="spinner-border" role="status"> <span class="visually-hidden">Loading...</span></div>',
                    emptyTable : '<div>검색 결과가 없습니다.</div>',
                    zeroRecords: '<div>검색 결과가 없습니다.</div>',
                    "paginate": {
                        "previous": "<i class='mdi mdi-chevron-left'>",
                        "next": "<i class='mdi mdi-chevron-right'>"
                    }
                },
                "drawCallback": function (settings) {
                    $('.dataTables_paginate > .pagination').addClass('pagination-rounded');
                },
                'order': [1, 'desc']

            });
            $("#orderClaimGroupList_info").hide();
            //전체선택 및 해제
            $('#select-all').on('click', function(){
                // Check/uncheck all checkboxes in the table
                var rows = table.rows({ 'search': 'applied' }).nodes();
                $('input[type="checkbox"]', rows).prop('checked', this.checked);
            });
        }
        function orderClaimSave(){
            var today = new Date();
            var checkGroupCodeList =[];
            var imageInput = $("#file")[0];
            var formData = new FormData();
            formData.append("file", imageInput.files[0]);

            //이메일 보낼사람 추리기
            var checkGroupCodeList =[];
            $("#orderClaimGroup [name^=checkItemBox]:checked").each(function (index, item) {
                checkGroupCodeList.push($(this).attr('data-group-code'));
            });

            var param = {
                "orderCode": orderCode,
                "orderDetailSeq": orderDetailSeq,
                "brandCode":$("#brandCode").attr('data-brand-code'),
                "reqDate": commonUtil.dateFormat(today),
                "reqStatus": $("#requestStatus").val(),
                "claimType": $("#claimType").val(),
                "message": $("#message").val(),
                "checkGroupCodeList" :checkGroupCodeList
            };

            console.log(param);

            formData.append("request", new Blob([JSON.stringify(param)], {type: "application/json"}));

            $.ajax({
                type: "POST",
                url: '/order/orderClaimSave',
                data: formData,
                processData: false,
                contentType: false,
                cache: false,
                success: function (response) {
                    var data = response.responseObject;
                    console.log(data);
                    if(data != null){
                        alert("등록성공하였습니다.");
                        window.close();
                    }
                },error : function (req, status, error) {
                    alert(req.responseJSON.message);
                }
            });

        }


    </script>

</th:block>
</html>