<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}" lang="">

<div layout:fragment="content">

    <button>
        <a th:href="@{/monsters/register}">몬스터 등록</a>
    </button>

    <div>
        <table id="monsterList" style="border: 1px solid #1c294e;"></table>
    </div>



</div>

<div th:replace="./fragments/footer.html :: footer"></div>

<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
</html>