<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <link th:replace="./fragments/header.html :: header">
</head>

<body class="bg-gradient-dark">
  <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">회원 가입</h1>
              </div>
              <form class="user needs-validation" th:object="${join}" novalidate>
                <div class="form-group">
                  <label for="adminId">크몽 이메일</label>
                  <input type="email" class="form-control form-control-user" id="adminId"
                         placeholder="crazymonkey@crazymonkey.com" name="email" th:field="*{email}" required>
                  <small class="invalid-feedback">이메일을 입력하세요.</small>
                  <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Nickname Error</small>

                </div>
                <div class="form-group">
                  <label for="nickname">닉네임</label>
                  <input type="text" class="form-control form-control-user" id="nickname"
                         placeholder="크몽" name="nickname" th:field="*{nickname}" required>
                  <small class="invalid-feedback">인게임 닉네임을 입력하세요.</small>

                </div>
                <div class="form-group">
                  <label for="password">비밀번호</label>
                  <input type="password" class="form-control form-control-user" id="password"
                         placeholder="비밀번호"
                         th:field="*{password}" required>
                  <small class="invalid-feedback">비밀번호를 입력하세요</small>
                  <small class="form-text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</small>


                </div>
                <div class="form-group">
                  <label for="checkPassword">비밀번호 체크</label>
                  <input type="password" class="form-control form-control-user"
                         id="checkPassword" placeholder="비밀번호 확인" required>
                  <small class="invalid-feedback">다시 한 번 비밀번호를 입력하세요</small>
                  <small class="form-text text-danger" th:if="${#fields.hasErrors('checkPassword')}" th:errors="*{checkPassword}">Password Error</small>
                </div>


                <div class="form-group">
                  <label for="batch">크몽 깃수</label>
                  <br>
                  <select id="batch" class="btn-outline-dark dropdown-toggle form-control" th:field="*{batch}">
                    <option th:value="1기" selected>1기</option>
                    <option th:value="2기">2기</option>
                  </select>
                </div>

                <button type="button" id="joinButton" class="btn btn-dark btn-user btn-block" onclick="memberJoin()">회원가입</button>
              </form>
              <div class="text-center">
                <a class="small" th:href="@{/login}">이미 크몽 회원이라면 로그인화면으로 :)</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</body>
<script type="application/javascript" th:fragment="form-validation">
  (function () {
    'use strict';
    window.addEventListener('load', function () {
      var forms = document.getElementsByClassName('needs-validation');

      Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) { //submit 이벤트가 발생했을 경우,
          if (form.checkValidity() === false) { //form을 검증함. false인경우 submit이 안되도록 막음 // form내의 input테그에 있는 모든 validation을 검증한다.
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated') // true일경우 class를 추가한다.
        }, false)
      })
    }, false)
  }());

  function memberJoin() {
    let email = $("#adminId").val();
    let nickname = $("#nickname").val()
    let password = $("#password").val();
    let checkPassword = $("#checkPassword").val();
    let batch = $("#batch").val();

    if (emailFormatCheck(email)) {
      alert("이메일 형식을 확인해 주세요")
      document.getElementById('adminId').focus();
      return;
    }

    if (checkDuplicationEmail(email) === "dupe") {
      alert("이메일이 중복됩니다.");
      return;
    }

    if (checkPasswordEqual(password, checkPassword) === "fail") {
      alert("입력하신 비밀번호와, 비밀번호 체크가 일치하지 않습니다. 확인해주세요")
      return;
    }

    if (nickname === "" || nickname === null) {
      alert("닉네임을 입력해주세요")
      return;
    }

    let param = {
      email: email,
      password: password,
      nickname: nickname,
      batch: batch
    }

    $.ajax({
      type: "POST",
      url: "/v1/member/join",
      dataType: "text",
      data: param,
      async: false,
      success: function (response) {
        if (response === "ok") {
          alert("회원가입이 완료 되었습니다.")
          window.location.href = "/login";
        } else {
          alert("회원가입이 실패했습니다.")
          window.location.reload();
        }
      }
    });

  }

  function emailFormatCheck (email) {
    var emailFormat = new RegExp('[a-z0-9]+@[a-z]+\.[a-z]{2,3}');

    if(!emailFormat.test(email) || email === '') {
      return true;
    }
  }

  function checkDuplicationEmail (email) {

    var check;

    $.ajax({
      type: "POST",
      url: "/v1/member/duplication?email=" + email,
      dataType: "text",
      async: false,
      success: function (response) {
          if (response === "ok") {
            check = "ok";
          } else {
            check = "dupe";
          }
      }
    });
    return check;
  }

  function checkPasswordEqual(password, checkPassword) {

    let param = {
      password: password,
      checkPassword: checkPassword
    }

    var check;

    $.ajax({
      type: "POST",
      url: "/v1/member/passwordCheck",
      dataType: "text",
      data: param,
      async: false,
      success: function (response) {
        if (response === "ok") {
          check = "ok";
        } else {
          check = "fail";
        }
      }
    });
    return check;

  }

</script>
</html>
