<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<th:block layout:fragment="content">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <!-- Join Content-->
          <div class="tab-pane show active" id="billing-information">
            <div class="row">
              <div class="col-lg-8">
                <h4 class="mt-2">사용자 정보</h4>
                <p class="text-muted mb-4">* 필수 입력항목</p>
                <hr>
                <form novalidate>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="nickName" class="form-label">닉네임 <span class="text-danger">*</span></label>
                        <input class="form-control" type="text" id="nickName" name="nickName" th:placeholder="${member.nickName}" th:value="${member.nickName}"/>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="batch">크몽 깃수</label>
                        <br>
                        <select id="batch" class="btn-outline-dark dropdown-toggle form-control">
                          <option th:value="1기" th:selected="${member.batch.equals('1기')} ? 'true' : 'false'">1기</option>
                          <option th:value="2기" th:selected="${member.batch.equals('2기')} ? 'true' : 'false'">2기</option>
                        </select>
                      </div>
                    </div>
                  </div> <!-- end row -->
                  <div class="row">
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="password" class="form-label">변경할 비밀번호 </label>
                        <input class="form-control" type="password" placeholder="비밀번호를 수정하지 않으면 기존 비밀번호를 유지합니다." id="password" th:autocomplete="new-password">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="checkPassword" class="form-label">변경할 비밀번호 체크 </label>
                        <input class="form-control" type="password"  id="checkPassword"  placeholder="비밀번호 확인" th:autocomplete="new-password">
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="card-body ta-c">
                    <button type="button" class="btn btn-dark" onclick="mypageUpdate()">정보 수정</button>
                  </div>
                </form>
              </div>
            </div> <!-- end row-->
          </div>
          <!-- End  Join Content-->
        </div>
      </div>
    </div>

  </div>
  <input type="hidden" id="email" th:value="${member.email}">
</th:block>
</html>
  <script type="application/javascript" th:fragment="form-validation">

    $(document).ready(function() {


    });

    function mypageUpdate() {

      let email = $("#email").val()
      let nickname = $("#nickName").val()
      let password = $("#password").val();
      let checkPassword = $("#checkPassword").val();
      let batch = $("#batch").val();

      if (checkPasswordEqual(password, checkPassword) === "fail") {
          alert("입력하신 비밀번호와, 비밀번호 체크가 일치하지 않습니다. 확인해주세요")
          return;
      }

      if (nickname === "" || nickname === null) {
        alert("닉네임을 입력해주세요")
        return;
      }

      let param = {
        password: password,
        nickname: nickname,
        batch: batch
      }

      $.ajax({
        type: "POST",
        url: "/v1/member/mypage/" + email,
        dataType: "text",
        data: param,
        async: false,
        success: function (response) {
          if (response === "ok") {
            alert("정보 수정이 완료되었습니다.")
            window.location.reload();
          } else {
            alert("정보 수정이 실패했습니다.")
            window.location.reload();
          }
        }
      });
    }



    function checkPasswordEqual(password, checkPassword) {

      let param = {
        password: password,
        checkPassword: checkPassword
      }

      var check;

      $.ajax({
        type: "POST",
        url: "/v1/member/passwordCheck",
        dataType: "text",
        data: param,
        async: false,
        success: function (response) {
          if (response === "ok") {
            check = "ok";
          } else {
            check = "fail";
          }
        }
      });
      return check;

    }

    function moveMenuList(){
      location.href = "/admin/account/find"
    }

  </script>
