<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<th:block layout:fragment="content">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <!-- Join Content-->
          <div class="tab-pane show active" id="billing-information">
            <div class="row">
              <div class="col-lg-8">
                <h4 class="mt-2">사용자 정보</h4>
                <p class="text-muted mb-4">* 필수 입력항목</p>
                <hr>
                <form th:action="@{'/v1/member/mypage/' + ${member.email}}" method="post" novalidate>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="nickName" class="form-label">닉네임 <span class="text-danger">*</span></label>
                        <input class="form-control" type="text" id="nickName" name="nickName" th:placeholder="${member.nickName}"/>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="batch">크몽 깃수</label>
                        <br>
                        <select id="batch" class="btn-outline-dark dropdown-toggle form-control">
                          <option th:value="1기" th:selected="${member.batch.equals('1기')} ? 'true' : 'false'">1기</option>
                          <option th:value="2기" th:selected="${member.batch.equals('2기')} ? 'true' : 'false'">2기</option>
                        </select>
                      </div>
                    </div>
                  </div> <!-- end row -->
                  <div class="row">
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="adminPassword" class="form-label">변경할 비밀번호 <span class="text-danger">*</span></label>
                        <input class="form-control" type="password" placeholder="비밀번호" id="adminPassword" th:autocomplete="new-password">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="adminPasswordCheck" class="form-label">변경할 비밀번호 체크 <span class="text-danger">*</span></label>
                        <input class="form-control" type="password"  id="adminPasswordCheck"  placeholder="비밀번호 확인" th:autocomplete="new-password">
                      </div>
                    </div>
                  </div>
                  <!-- end row -->
<!--                  <div class="row">-->
<!--                    <div class="col-md-6">-->
<!--                      <div class="mb-3">-->
<!--                        <label for="phoneNo" class="form-label">핸드폰번호 <span class="text-danger">*</span></label>-->
<!--                        <input class="form-control" type="tel" id="phoneNo"  name="phoneNo" th:field="*{phoneNo}" th:placeholder="${targetUser.phoneNo}"/>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="col-md-6">-->
<!--                      <div class="mb-3">-->
<!--                        <label for="authSeq" class="form-label">권한</label>-->
<!--                        <th:block th:each="i:${authSeqList}" th:if="${targetUser.authSeq !=null}">-->
<!--                          <input class="form-control" th:if="${i.id == targetUser.authSeq}" type="text" name="authSeq" id="authSeq" disabled th:value="${i.authName}" />-->
<!--                        </th:block>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div> &lt;!&ndash; end row &ndash;&gt;-->

                  <hr>
                  <div class="card-body ta-c">
                    <button type="submit" class="btn btn-primary">저장</button>
                    <button type="button" class="btn btn-primary" onclick="moveMenuList()">목록</button>
                  </div>
                </form>
              </div>
            </div> <!-- end row-->
          </div>
          <!-- End  Join Content-->
        </div>
      </div>
    </div>

  </div>




  <script type="application/javascript" th:fragment="form-validation">

    $(document).ready(function() {


    });
    function moveMenuList(){
      location.href = "/admin/account/find"
    }

  </script>
</th:block>



</html>