<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/css/all.min.css" rel="stylesheet" type="text/css">
    <!--javaScript-->
    <script th:src="@{/js/jquery/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/bootstrap/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/jquery-easing/jquery.easing.min.js}"></script>
    <script th:src="@{/js/sb-admin-2.min.js}"></script>
    <script th:src="@{/js/libs/common.js}"></script>
</head>


<body>

</body>
</html>