<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<ul th:fragment="sidebar" class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="d-flex align-items-center justify-content-center" href="/" style="padding: 1.5rem 1rem">
        <div class="sidebar-brand-text mx-3"><img class="sidebar-logo" th:src="@{/img/crazymonkeymain.png} "></div>
    </a>
    <div>
        <hr class="sidebar-divider my-0">

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
               aria-expanded="true" aria-controls="collapsePages">
                <i class="fas fa-fw fa-folder"></i>
                <span>방덱 / 공덱 조회</span>
            </a>
            <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="/def/find">방덱 조회</a>
                    <a class="collapse-item" href="/atk/find">공덱 조회</a>
                </div>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="charts.html">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>방덱 / 공덱 분석</span></a>
        </li>
    </div>



    <div sec:authorize="hasAuthority('ROLE_USER')">

        <hr class="sidebar-divider d-none d-md-block">

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#MonsterManagecollapsePages"
               aria-expanded="true" aria-controls="collapsePages">
                <i class="fas fa-fw fa-folder"></i>
                <span>몬스터 관리</span>
            </a>
            <div id="MonsterManagecollapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="/monsters">몬스터 목록</a>
                    <a class="collapse-item" href="/monsters/register"sec:authorize="hasAuthority('ROLE_MANAGER')">몬스터 등록</a>
                </div>
            </div>
        </li>

    </div>

    <div sec:authorize="hasAuthority('ROLE_ADMIN')">

        <hr class="sidebar-divider d-none d-md-block">

        <li class="nav-item">
            <a class="nav-link" href="/admin/home">
                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                <span>관리자 모드</span>
            </a>
        </li>

    </div>

    <hr class="sidebar-divider d-none d-md-block">

    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
</html>