<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<body layout:fragment="content">
<div class="container">
  <div class="row align-items-start">
    <div style="padding-top:50px;"  class="col">
      <div class="container text-center">
        <h1><span th:text="${email}" class="alert alert-danger" />님은 접근 권한이 없습니다.</h1>
        <br />
        <h3 th:text="${exception}"></h3>
      </div>
    </div>
  </div>
</div>
<div th:replace="layout/footer::footer"></div>
</body>
</html>