<div class="row">
  <div class="col-12">
    <div class="page-title-box">
      <div class="page-title-left">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a href="javascript: void(0);">WEBLING</a></li>
          <li class="breadcrumb-item"><a href="javascript: void(0);">생산관리</a></li>
          <li class="breadcrumb-item active">작업지시서 출력</li>
        </ol>
      </div>
      <h4 class="page-title" id="pageTitle" ></h4>
    </div>
  </div>
</div>
<!--page title end-->
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title">검색조건</h4>
        <div class="table-responsive">
          <table class="table table-bordered table-centered mb-0">
            <tbody>
            <tr>
              <th style="background-color: #f1f3fa !important;" colspan="2">서비스</th>
              <td colspan="6">
                <div class="form-check form-check-inline">
                  <input type="radio" id="service_all" name="brandCode" class="form-check-input" value="ALL">
                  <label class="form-check-label" for="service_all">전체</label>
                </div>
                <div class="form-check form-check-inline">
                  <input type="radio" id="service_snaps" name="brandCode" class="form-check-input" value="01">
                  <label class="form-check-label" for="service_snaps">스냅스</label>
                </div>
                <div class="form-check form-check-inline">
                  <input type="radio" id="service_opm" name="brandCode" class="form-check-input" value="02">
                  <label class="form-check-label" for="service_opm">오프린트미</label>
                </div>
                <div class="form-check form-check-inline">
                  <input type="radio" id="snaps_oround" name="brandCode" class="form-check-input" value="03">
                  <label class="form-check-label" for="snaps_oround">오라운드</label>
                </div>
              </td>

              <th style="background-color: #f1f3fa !important;" colspan="2">결제일자</th>
              <td colspan="6">
                <div class="row">
                  <div class="col-3">
                    <div class="form-group">
                      <input class="form-control" id="payFromDate" type="date" name="payFromDate" required>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="form-group">
                      <input class="form-control" id="payFromTime" type="time" name="payFromTime" required>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="form-group">
                      <input class="form-control" id="payToDate" type="date" name="payToDate" required>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="form-group">
                      <input class="form-control" id="payToTime" type="time" name="payToTime" required>
                    </div>
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <th style="background-color: #f1f3fa !important;" colspan="2">주문 상태</th>
              <td colspan="6">
                <select id="orderStatus" name="orderStatus" class="orderStatusSelect form-control select2" data-toggle="select2">
                  <optgroup label="주문 상태">
                    <!--                                           <option value="ALL">전체</option>-->
                    <!--                                           <option value="007003">결제 완료</option>-->
                    <!--                                           <option value="007004">인화 보류</option>-->
                    <option value="007006" selected>주문처리중</option>
                    <!--                                           <option value="007006">포장 완료</option>-->
                    <!--                                           <option value="007007">배송 준비</option>-->
                    <!--                                           <option value="007008">배송 완료</option>-->
                    <!--                                           <option value="007010">주문 취소</option>-->
                  </optgroup>
                </select>
              </td>

              <th style="background-color: #f1f3fa !important;" colspan="2">배송 유형</th>
              <td colspan="6">
                <div class="row">
                  <div class="col-6">
                    <select id="deliveryCode" name="deliveryCode" class="form-control select2" data-toggle="select2">
                      <optgroup label="배송 유형">
                        <option value="ALL">전체</option>
                        <option value="009001">일반우편</option>
                        <option value="009002">택배</option>
                        <option value="009003">퀵서비스</option>
                        <option value="009005">해외배송</option>
                        <option value="009999">확인</option>
                      </optgroup>
                    </select>
                  </div>

                  <div class="col-6">
                    <div id="deliveryCompanyAllOption">
                      <div class="form-group" id="deliveryCompanyAll" name="deliveryCompanyAll">
                        <input type="text" class="form-control" placeholder="전체 검색" readonly>
                      </div>

                    </div>
                    <div id="deliveryCompanyOtherOption">
                      <select id="deliveryCompany" name="deliveryCompany" class="form-control select2" data-toggle="select2">
                        <optgroup label="배송 수단">
                          <option value="ALL">전체</option>
                          <option value="010001">CJ 대한통운</option>
                          <option value="010002">EMS</option>
                          <option value="010003">SAGAWA</option>
                          <option value="010004">우체국</option>
                        </optgroup>
                      </select>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <th style="background-color: #f1f3fa !important;" colspan="2">인덱스 타입</th>
              <td colspan="6">
                <div class="row">
                  <div class="col-4">
                    <select id="indexName" name="indexName" class="form-control select2" data-toggle="select2">
                      <optgroup label="인덱스 타입">
                        <option value="ALL">전체</option>
                        <div th:each="indexName : ${indexNameList}">
                          <option th:value="${indexName.indexCode}" th:text="${indexName.indexName}"></option>
                        </div>
                      </optgroup>
                    </select>
                  </div>
                  <div class="col-4">
                    <div class="form-group" id="workedYNOption">
                      <select id="workedYN" name="workedYN" class="form-control select2" data-toggle="select2">
                        <optgroup label="작업 여부">
                          <option value="ALL">전체</option>
                          <option value="Y">작업</option>
                          <option value="N">미작업</option>
                        </optgroup>
                      </select>
                    </div>
                    <div id="workedYNAll" class="form-group">
                      <input type="text" class="form-control" placeholder="전체 검색" readonly>
                    </div>
                  </div>
                  <div class="col-4">
                    <select id="orderType" name="orderType" class="form-control select2" data-toggle="select2">
                      <optgroup label="단/복합">
                        <option value="ALL">전체</option>
                        <option value="단일">단일</option>
                        <option value="복합">복합</option>
                      </optgroup>
                    </select>
                  </div>
                </div>
              </td>
              <th style="background-color: #f1f3fa !important;" colspan="2">기타 조건</th>
              <td colspan="6">
                <div class="row">
                  <div class="col-6">
                    <select id="otherOptions" name="otherOptions" class="form-control select2" data-toggle="select2">
                      <optgroup label="기타 조건">
                        <option value="ALL">전체</option>
                        <option value="orderCode">주문번호</option>
                        <option value="orderMail">회원아이디</option>
                        <option value="orderName">회원명</option>
                        <option value="recipientName">수령인명</option>
                      </optgroup>
                    </select>
                  </div>
                  <div class="col-6">
                    <div class="form-group" id="otherOptionValueOn">
                      <input id="orderOptionValue" name="orderOptionValue" type="text" class="form-control" placeholder="조건 입력">
                    </div>

                    <div class="form-group" id="otherOptionValueOff">
                      <input type="text" class="form-control" placeholder="전체 검색" readonly>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <th style="background-color: #f1f3fa !important;" colspan="2" class="col-1">그룹 구분</th>
              <td colspan="2" class="col-1">
                <select id="groupDivision" name="groupDivision" class="orderStatusSelect form-control select2" data-toggle="select2">
                  <optgroup label="주문 상태">
                    <option value="#" selected>그룹</option>
                    <option value="#" selected>미그룹</option>
                  </optgroup>
                </select>
              </td>
              <td style="background-color: #f1f3fa !important;" colspan="2">그룹번호 조회</td>
              <td colspan="2">
                <div style="display: flex">
                  <input id="groupNumFirst" name="groupNumFirst" type="text" class="form-control" >
                  &nbsp~&nbsp
                  <input id="groupNumSecond" name="groupNumSecond" type="text" class="form-control">
                </div>
              </td>
              <th style="background-color: #f1f3fa !important;" colspan="2" class="col-1">그룹생성일자</th>
              <td colspan="6">
                <div class="row">
                  <div class="col-3">
                    <div class="form-group">
                      <input class="form-control" id="groupRegFromDate" type="date" name="groupRegFromDate" required>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="form-group">
                      <input class="form-control" id="groupRegFromTime" type="time" name="groupRegFromTime" required>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="form-group">
                      <input class="form-control" id="groupRegToDate" type="date" name="groupRegToDate" required>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="form-group">
                      <input class="form-control" id="groupRegToTime" type="time" name="groupRegToDate" required>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>

        </div> <!-- end table-responsive-->

      </div> <!-- end card-body-->
      <div class="card-body ta-r">
        <button type="button" id="saveSearchOptionButton" class="btn btn-primary" onclick="saveSearchOption()">검색조건저장</button>
        <button type="button" class="btn btn-primary" onclick="init()">초기화</button>
        <button type="button" id="jobOrderPrintButton" class="btn btn-primary" onclick="jobOrderPrint()">작업지시서 출력</button>
        <button type="button" id="printOrderButton" class="btn btn-primary" onclick="printOrder()" disabled>출력 처리</button>
        <button type="button" class="btn btn-primary" onclick="search()">검색</button>
      </div>
    </div> <!-- end card-->
  </div> <!-- end col-->
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div>
          검색 건수 : <span id="searchListSize" style="font-weight: bolder">0</span> 건
        </div>
        <div class="tab-content">
          <table id="orderJobList" class="table dt-responsive nowrap w-100 table-sm">
            <thead class="table-light">
            <tr>
              <!--                                <th><input name="select_all" value="1" id="select-all" type="checkbox" /></th>-->
              <!--                                <th>No</th>-->
              <th>서비스</th>
              <th>구분</th>
              <th>주문번호</th>
              <th>아이디</th>
              <th>주문인</th>
              <th>수령인</th>
              <th>배송유형</th>
              <th>배송사</th>
              <th>인덱스</th>
              <th>결제일자</th>
              <th>배송예정일</th>
              <th>상태</th>
              <th>오류요청 상태</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<input type="hidden" id="hiddenViewId" name="hiddenViewId" th:value="${viewId}">
<input type="hidden" id="savedIndexCode" name="savedIndexCode" th:value="${indexCode}">

<form name="printFrm" method="post" th:action="@{/process/jobOrder/printOrder}">
  <input type="hidden" id="hiddenBrandCode" name="brandCode" value=""/>
  <input type="hidden" id="hiddenPayDate_from" name="payDate.from" value=""/>
  <input type="hidden" id="hiddenPayDate_to" name="payDate.to" value=""/>
  <input type="hidden" id="hiddenOrderStatus" name="orderStatus" value=""/>
  <input type="hidden" id="hiddenDeliveryType_deliveryCode" name="deliveryType.deliveryCode" value=""/>
  <input type="hidden" id="hiddenDeliveryType_deliveryCompany" name="deliveryType.deliveryCompany" value=""/>
  <input type="hidden" id="hiddenOtherOptions_orderCode" name="otherOptions.orderCode" value=""/>
  <input type="hidden" id="hiddenOtherOptions_orderMail" name="otherOptions.orderMail" value=""/>
  <input type="hidden" id="hiddenOtherOptions_orderName" name="otherOptions.orderName" value=""/>
  <input type="hidden" id="hiddenOtherOptions_recipientName" name="otherOptions.recipientName" value=""/>
  <input type="hidden" id="hiddenIndexType_indexName" name="indexType.indexName" value=""/>
  <input type="hidden" id="hiddenIndexType_workedYN" name="indexType.workedYN" value=""/>
  <input type="hidden" id="hiddenOrderType" name="orderType" value=""/>
</form>

<form name="searchMenuFrm" method="post" th:action="@{/process/jobOrder/searchOption}">
  <input type="hidden" id="hiddenSearchBrandCode" name="brandCode" value=""/>
  <input type="hidden" id="hiddenSearchPayDate_from" name="payDate.from" value=""/>
  <input type="hidden" id="hiddenSearchPayDate_to" name="payDate.to" value=""/>
  <input type="hidden" id="hiddenSearchOrderStatus" name="orderStatus" value=""/>
  <input type="hidden" id="hiddenSearchDeliveryType_deliveryCode" name="deliveryType.deliveryCode" value=""/>
  <input type="hidden" id="hiddenSearchDeliveryType_deliveryCompany" name="deliveryType.deliveryCompany" value=""/>
  <input type="hidden" id="hiddenSearchOtherOptionName" name="searchOtherOptionName" value=""/>
  <input type="hidden" id="hiddenSearchOtherOptionValue" name="searchOtherOptionValue" value=""/>
  <input type="hidden" id="hiddenSearchIndexType_indexName" name="indexType.indexName" value=""/>
  <input type="hidden" id="hiddenSearchIndexType_workedYN" name="indexType.workedYN" value=""/>
  <input type="hidden" id="hiddenSearchOrderType" name="orderType" value=""/>
  <input type="hidden" id="hiddenSearchViewId" name="viewId" value=""/>
</form>


<script th:src="@{/js/libs/customSessionStorage.js}"></script>
<script th:inline="javascript">

  var table = "";
  $(document).ready(function() {
    $("input[name=brandCode]").eq(1).prop("checked",true);

    $("#payFromDate").val(commonUtil.dateSlicer(15));
    $("#payFromTime").val('22:01');
    $("#payToDate").val(commonUtil.dateSlicer(0));
    $("#payToTime").val('23:59');

    $("#deliveryCompanyOtherOption").hide();

    $("#deliveryCode").change(function (){
      var flag = $("#deliveryCode").val();

      if (flag === "ALL") {
        $("#deliveryCompanyAllOption").show();
        $("#deliveryCompanyOtherOption").hide();
      } else {
        $("#deliveryCompanyOtherOption").show();
        $("#deliveryCompanyAllOption").hide();
      }
    });

    $("#otherOptionValueOn").hide();

    $("#otherOptions").change(function() {
      var flag = $("#otherOptions").val();

      if(flag === "ALL") {
        $("#otherOptionValueOff").show();
        $("#otherOptionValueOn").hide();
      } else {
        $("#otherOptionValueOn").show();
        $("#otherOptionValueOff").hide();
      }
    });

    $("#workedYNOption").hide()

    $("#indexName").change(function() {
      var flag = $("#indexName").val();

      if (flag === "ALL") {
        $("#workedYNAll").show();
        $("#workedYNOption").hide();
        $("#workedYN").val('ALL').select2();
        $("#printOrderButton").attr('disabled', true);
      } else {
        $("#workedYNOption").show();
        $("#workedYNAll").hide();
      }
    });

    $("#workedYN").change(function () {
      var flag = $("#workedYN").val();

      if (flag === "N") {
        $("#printOrderButton").attr('disabled', false);
      } else {
        $("#printOrderButton").attr('disabled', true);
      }
    })

    $("#orderJobList_info").hide()

    $("#otherOptions").change(function() {
      $("#orderOptionValue").val('')
    })

    $("#deliveryCode").change(function() {
      $("#deliveryCompany").val('ALL').select2()
    })

    if ($("#savedIndexCode").val() !== '' ) {
      loadMenuSearchFilter($("#savedIndexCode").val())
    }

    $("#indexName").change(function () {
      var indexCode = $("#indexName").val();
      init()

      var listSize = /*[[${searchOptionList.size}]]*/

      if (listSize === 0) { // validation 처리 ( controller 에서 던저 준 값이 없을 경우)
        if (indexCode === 'ALL') {
          init()
        } else {
          $("#workedYNOption").show();
          $("#workedYNAll").hide();
          $("#indexName").val(indexCode).select2();
        }
      } else {
        loadMenuSearchFilter(indexCode);
        $("#otherOptions").change(function() {
          $("#orderOptionValue").val('')
        })
      }
    })
  });

  // 검색조건 불러오기 (인덱스 코드에 따라)
  function loadMenuSearchFilter (indexCode) {

    /*[# th:each="searchOption : ${searchOptionList}"]*/

    var searchOptionIndexCode = /*[[${searchOption.indexCode}]]*/;

    if (indexCode === searchOptionIndexCode) {

      /*[# th:each="searchFilter : ${searchOption.menuSearchFilters}"]*/

      var searchName = /*[[${searchFilter.searchName}]]*/
      var searchValue = /*[[${searchFilter.searchValue}]]*/

              $("#workedYNOption").show();
      $("#workedYNAll").hide();
      $("#indexName").val(indexCode).select2();

      if (searchName === 'brandCode') {
        $("input[name=brandCode]").eq(Number(searchValue.substring(1,2))).prop("checked",true);
      }

      if (searchName === 'fromPayDate') {
        $("#payFromDate").val(searchValue.substring(0,10));
        $("#payFromTime").val(searchValue.substring(11,16));
      }

      if (searchName === 'toPayDate') {
        $("#payToDate").val(searchValue.substring(0,10));
        $("#payToTime").val(searchValue.substring(11,16));
      }

      if (searchName === 'deliveryCode') {
        $("#deliveryCode").val(searchValue).select2()
      }

      if (searchName === 'deliveryCompany') {
        var deliveryCode = $("#deliveryCode").val();

        if (deliveryCode === 'ALL') {
          $("#deliveryCompanyAllOption").show()
          $("#deliveryCompanyOtherOption").hide()
          $("#deliveryCompany").val(searchValue).select2()
        } else {
          $("#deliveryCompanyAllOption").hide()
          $("#deliveryCompanyOtherOption").show()
          $("#deliveryCompany").val(searchValue).select2()
        }
      }

      if (searchName === 'workedYN') {
        $("#workedYN").val(searchValue).select2()
        if (searchValue === 'N') {
          $("#printOrderButton").attr('disabled', false);
        }
      }

      if (searchName === 'orderType') {
        $("#orderType").val(searchValue).select2();
      }

      if (searchName === 'searchOtherOptionName') {
        $("#otherOptions").val(searchValue).select2()
      }

      if (searchName === 'searchOtherOptionValue') {
        var otherOption = $("#otherOptions").val();

        if (otherOption === 'ALL') {
          $("#otherOptionValueOn").hide()
          $("#otherOptionValueOff").show()
          $("#orderOptionValue").val(searchValue)
        } else {
          $("#otherOptionValueOn").show()
          $("#otherOptionValueOff").hide()
          $("#orderOptionValue").val(searchValue)
        }
      }
      /*[/]*/

    }else if (indexCode === 'ALL') {
      init()
    } else {
      $("#workedYNOption").show();
      $("#workedYNAll").hide();
      $("#indexName").val(indexCode).select2();
    }
    /*[/]*/
  }

  // 검색조건 저장
  function saveSearchOption () {
    $("#orderJobList_info").hide()

    var flag = $("#indexName").val();

    if (flag === 'ALL') {
      alert("인덱스 타입을 선택해주세요. 선택한 인덱스 타입 기준으로 검색 조건이 저장됩니다.")
    } else {

      var otherOption = $("#otherOptions").val();
      var deliveryCode = $("#deliveryCode").val()
      $("#hiddenSearchBrandCode").val($("input[name=brandCode]:checked").val() === "ALL" ? "01" : $("input[name=brandCode]:checked").val());
      $("#hiddenSearchPayDate_from").val($("#payFromDate").val() + 'T' + $("#payFromTime").val());
      $("#hiddenSearchPayDate_to").val($("#payToDate").val() + 'T' + $("#payToTime").val());
      $("#hiddenSearchOrderStatus").val($("#orderStatus").val());
      $("#hiddenSearchDeliveryType_deliveryCode").val($("#deliveryCode").val());

      if (deliveryCode === 'ALL') {
        $("#hiddenSearchDeliveryType_deliveryCompany").val('');
      } else {
        $("#hiddenSearchDeliveryType_deliveryCompany").val($("#deliveryCompany").val());
      }

      $("#hiddenSearchOtherOptionName").val($("#otherOptions").val());
      if (otherOption === 'ALL') {
        $("#hiddenSearchOtherOptionValue").val('');
      } else {
        $("#hiddenSearchOtherOptionValue").val($("#orderOptionValue").val());
      }
      $("#hiddenSearchIndexType_indexName").val($("#indexName").val());
      $("#hiddenSearchIndexType_workedYN").val($("#workedYN").val());
      $("#hiddenSearchOrderType").val($("#orderType").val());
      $("#hiddenSearchViewId").val($("#hiddenViewId").val());

      document.searchMenuFrm.submit();
    }
  }

  // 초기화
  function init(){

    $("input[name=brandCode]").eq(1).prop("checked",true);
    $("#payFromDate").val(commonUtil.dateSlicer(15));
    $("#payToDate").val(commonUtil.dateSlicer(0))
    $("#payFromTime").val('22:01');
    $("#payToTime").val('23:59');
    $("#orderStatus").val("007006").select2();
    $("#deliveryCode").val("ALL").select2();
    $("#deliveryCompany").val("ALL").select2();
    $("#otherOptions").val("ALL").select2();
    $("#orderOptionValue").val('');
    $("#indexName").val("ALL").select2();
    $("#workedYN").val("ALL").select2();
    $("#orderType").val("ALL").select2();
    $("#searchListSize").text('0')

    $("#deliveryCompanyOtherOption").hide();
    $("#deliveryCompanyAllOption").show();

    $("#otherOptionValueOn").hide();
    $("#otherOptionValueOff").show();

    $("#workedYNOption").hide()
    $("#workedYNAll").show();

    $("#printOrderButton").attr('disabled', true);

    $("#orderJobList_info").hide()
    $("#orderJobList tbody").hide()
  }

  // 검색
  function search() {
    $("#orderJobList tbody").show()
    commonUtil.loadingStart();
    table = $("#orderJobList").DataTable({
      processing: true,
      serverSide: true,
      ajax: {
        url: "/process/jobOrder/search",
        data: function (d) {
          var otherOption = $("#otherOptions").val();
          var data = {
            "brandCode": $("input[name=brandCode]:checked").val() === "ALL" ? null : $("input[name=brandCode]:checked").val(),
            "payDate.from" : $("#payFromDate").val() +'T'+ $("#payFromTime").val()+ /*[[${fromSecond}]]*/,
            "payDate.to" : $("#payToDate").val() +'T'+ $("#payToTime").val()+ /*[[${toSecond}]]*/,
            "orderStatus": $("#orderStatus").val() === "ALL" ? null : $("#orderStatus").val(),
            "deliveryType.deliveryCode": $("#deliveryCode").val() === "ALL" ? null : $("#deliveryCode").val(),
            "deliveryType.deliveryCompany": $("#deliveryCompany").val() === "ALL" ? null : $("#deliveryCompany").val(),
            "otherOptions.orderCode": otherOption === "orderCode" ? $("#orderOptionValue").val() : null,
            "otherOptions.orderMail": otherOption === "orderMail" ? $("#orderOptionValue").val() : null,
            "otherOptions.orderName": otherOption === "orderName" ? $("#orderOptionValue").val() : null,
            "otherOptions.recipientName": otherOption === "recipientName" ? $("#orderOptionValue").val() : null,
            "indexType.indexName": $("#indexName").val() === "ALL" ? null : $("#indexName").val(),
            "indexType.workedYN": $("#workedYN").val() === "ALL" ? null : $("#workedYN").val(),
            "orderType": $("#orderType").val() === "ALL" ? null : $("#orderType").val(),
            "direction": d.order[0].dir.toUpperCase(),
          };

          return data;
        },
        async: true,
        type: "POST",
        dataFilter: function (data) {
          data = JSON.parse(data);
          var json = {
            recordsTotal: data.responseObject.size,
            data: data.responseObject
          };
          $("#searchListSize").text(data.responseObject.length)
          return JSON.stringify(json);
        }
      },
      dataSrc: "",
      // pageLength: 10,
      columns: [
        // { data: null },
        // { data: 'id',render: function (data, type, row, meta) {return meta.row + meta.settings._iDisplayStart + 1;}},
        { data: 'brandCode'}, // 서비스
        { data: 'orderType' }, // 구분
        { data: 'orgOrderCode' }, //주문 번호
        { data: 'orderMail' }, // 아이디
        { data: 'orderName' }, // 주문인
        { data: 'recipientName' }, // 수령인
        { data: 'deliveryCode' }, // 배송 유형
        { data: 'deliveryCompany'},
        { data: 'indexName', render: function (data, type, row, meta){

            var result = "<div style='display: flex;'>";

            if (data != null) {
              var indexList = data.split(",");
              var set = new Set(indexList)
              var setIndexList = [...set];

              for (let i = 0; i < setIndexList.length; i++) {

                if (setIndexList[i].indexOf('_Y') > -1) {
                  result += "<button style=\"border: none\" class=\"badge badge-success-lighten\" type=\"button\">"+setIndexList[i].replace("_Y", "") + " </button>&nbsp";
                } else {
                  result += "<button style=\"border: none\" class=\"badge badge-secondary-lighten\" type=\"button\">"+setIndexList[i].replace("_N", "") +"</button>&nbsp";
                }
              }
            }
            result += "</div>";
            return result;
          }
        }, // 인덱스
        { data: 'payDate',render: function (data, type, row, meta){return commonUtil.dateFormat(data)} },
        { data: 'deliveryDueDate' }, // 배송 예정일
        { data: 'downStatus' }, // 상태
        { data: 'errorStatus' }, // 오류 요청 상태

      ],
      'paging' : false,
      'destroy': true,
      'searching': false,
      // 'columnDefs': [{
      //     'targets': 0,
      //     'searchable':false,
      //     'orderable':false,
      //     'className': 'dt-body-center',
      //     'render': function (data, type, full, meta){
      //         return '<input type="checkbox" name="id[]" value="'
      //             + meta.row + meta.settings._iDisplayStart + 1 + '">';
      //     }
      // }],
      "language": {
        // processing: '<div class="spinner-border" role="status"> <span class="visually-hidden">Loading...</span></div>',
        emptyTable : '<div>검색 결과가 없습니다.</div>',
        "paginate": {
          "previous": "<i class='mdi mdi-chevron-left'>",
          "next": "<i class='mdi mdi-chevron-right'>"
        }
      },
      "drawCallback": function (settings) {
        commonUtil.loadingStop()
        $('.dataTables_paginate > .pagination').addClass('pagination-rounded');
      },
      'order': [1, 'desc']

    });

    $('#select-all').on('click', function(){
      // Check/uncheck all checkboxes in the table
      var rows = table.rows({ 'search': 'applied' }).nodes();
      $('input[type="checkbox"]', rows).prop('checked', this.checked);
    });
    $("#orderJobList_info").hide()
  }

  // 출력 상태 변환
  function printOrder() {
    $("#orderJobList_info").hide()
    var otherOption = $("#otherOptions").val();

    let data = {
      "brandCode": $("input[name=brandCode]:checked").val() === "ALL" ? null : $("input[name=brandCode]:checked").val(),
      "payDate.from" : $("#payFromDate").val() +'T'+ $("#payFromTime").val() + /*[[${fromSecond}]]*/,
      "payDate.to" : $("#payToDate").val() +'T'+ $("#payToTime").val() + /*[[${toSecond}]]*/,
      "orderStatus": $("#orderStatus").val() === "ALL" ? null : $("#orderStatus").val(),
      "deliveryType.deliveryCode": $("#deliveryCode").val() === "ALL" ? null : $("#deliveryCode").val(),
      "deliveryType.deliveryCompany": $("#deliveryCompany").val() === "ALL" ? null : $("#deliveryCompany").val(),
      "otherOptions.orderCode": otherOption === "orderCode" ? $("#orderOptionValue").val() : null,
      "otherOptions.orderMail": otherOption === "orderMail" ? $("#orderOptionValue").val() : null,
      "otherOptions.orderName": otherOption === "orderName" ? $("#orderOptionValue").val() : null,
      "otherOptions.recipientName": otherOption === "recipientName" ? $("#orderOptionValue").val() : null,
      "indexType.indexName": $("#indexName").val() === "ALL" ? null : $("#indexName").val(),
      "indexType.workedYN": $("#workedYN").val() === "ALL" ? null : $("#workedYN").val(),
      "orderType": $("#orderType").val() === "ALL" ? null : $("#orderType").val(),
    }

    $.ajax({
      type: "POST",
      url: "/process/jobOrder/printStatus",
      dataType: "json",
      data: data,
      success: function (response) {
        alert("출력처리가 완료되었습니다.")
        document.location.reload();
      },
      error : function (req, status, error) {
        alert("출력처리 변환 실패")
        document.location.reload();
      }
    })
  }

  // 작업지시서 출력
  function jobOrderPrint () {
    $("#orderJobList_info").hide()

    if ($("#indexName").val() === 'ALL') {
      alert('인덱스 타입을 설정해주세요')
    } else if ($("#workedYN").val() === 'ALL') {
      alert('작업 미작업 여부를 선택해주세요.')
    } else {
      var otherOption = $("#otherOptions").val();

      window.open("", "jobOrderPrint");
      document.printFrm.target = "jobOrderPrint";
      $("#hiddenBrandCode").val($("input[name=brandCode]:checked").val() === "ALL" ? null : $("input[name=brandCode]:checked").val());
      $("#hiddenPayDate_from").val($("#payFromDate").val() +'T'+ $("#payFromTime").val() + /*[[${fromSecond}]]*/);
      $("#hiddenPayDate_to").val($("#payToDate").val() +'T'+ $("#payToTime").val() + /*[[${toSecond}]]*/);
      $("#hiddenOrderStatus").val($("#orderStatus").val() === "ALL" ? null : $("#orderStatus").val());
      $("#hiddenDeliveryType_deliveryCode").val($("#deliveryCode").val() === "ALL" ? null : $("#deliveryCode").val());
      $("#hiddenDeliveryType_deliveryCompany").val($("#deliveryCompany").val() === "ALL" ? null : $("#deliveryCompany").val());
      $("#hiddenOtherOptions_orderCode").val(otherOption === "orderCode" ? $("#orderOptionValue").val() : null);
      $("#hiddenOtherOptions_orderMail").val(otherOption === "orderMail" ? $("#orderOptionValue").val() : null);
      $("#hiddenOtherOptions_orderName").val(otherOption === "orderName" ? $("#orderOptionValue").val() : null);
      $("#hiddenOtherOptions_recipientName").val(otherOption === "recipientName" ? $("#orderOptionValue").val() : null);
      $("#hiddenIndexType_indexName").val($("#indexName").val() === "ALL" ? null : $("#indexName").val());
      $("#hiddenIndexType_workedYN").val($("#workedYN").val() === "ALL" ? null : $("#workedYN").val());
      $("#hiddenOrderType").val($("#orderType").val() === "ALL" ? null : $("#orderType").val());
      document.printFrm.submit();
    }
  }
</script>
</th:block>
</html>